body,html{
    background: linear-gradient(
        180deg,
        #1b1b1b,
        #2c2c2c,
        #111111
    );

    font-family:'Press Start 2P', cursive;
    padding:0;
    margin:0;
}

/* Barra de navegación */
.titulo{
    text-align:center;
    color:#FF7B00;
    margin-top:20px;
    margin-bottom:20px;
}
nav{
    margin:0;
}

.barra_naveganacion{
    display:flex;
    list-style:none;
    justify-content:center;
    gap:40px;

    margin:5px;
    padding:8px;

    background:#333333;
    border:2px solid #000000;
}

.barra_naveganacion li{
    margin:8px;
}

.barra_naveganacion li:hover{
    opacity:0.7;
    cursor:pointer;
    transform:scale(1.1);
}

a{
    color:white;
    text-decoration:none;
}

/* Encabezado */

.encabezado{
    display:flex;
    justify-content:space-between;
    align-items:center;

    width:90%;

    margin:10px auto;
}

.encabezado h1{
    color:white;
    margin:0;
}

.panel-puntos{
    display:flex;
    align-items:center;
    gap:10px;
}

.panel-puntos h3{
    color:#FF7B00;
    margin:0;
    font-size:16px;
}

.puntos{
    color:#FF7B00;
    font-size:24px;
    margin:0;
}

/* Productos */

.objetos{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;

    margin-top:10px;
    margin-bottom:40px;
}

.paquete{
    display:flex;
    flex-direction:column;
    align-items:center;

    background:#333333;

    border:3px solid #FF7B00;
    border-radius:15px;

    padding:10px;

    box-shadow:0 0 15px rgba(255,123,0,.2);
}

.paquete h4{
    color:white;
}

/* Imagen principal */

.carro-completo{
    width:370px;
    border-top:2px solid #FF7B00;
}

/* Personaje + carro */

.pack-separado{
    display:flex;
    justify-content:space-between;
    width:100%;
}

.personaje{
    width:150px;
}

.carro{
    width:250px;
    height:200px;
}

/* Botón comprar */

.comprar{
    background:#FF7B00;

    width:100%;

    border:none;
    border-radius:10px;

    color:white;

    font-family:'Press Start 2P', cursive;

    font-size:18px;

    padding:12px;
}

.comprar:hover{
    cursor:pointer;
    transform:scale(1.05);
}